.attractions {
    margin-top: 7%;
   & .grid-container {
    display: grid;
    grid-template-columns: 431px 383px 411px;
    grid-template-rows: 274px 294px 305px;
    grid-template-areas: "image1 image2 image2" "image1 image3 image3" "image4 image5 image6";
        & .image2 { grid-area: image2; }
        
        & .image1 { grid-area: image1; }
        
        & .image3 { grid-area: image3; }
        
        & .image4 { grid-area: image4; }
        
        & .image5 { grid-area: image5; }
        
        & .image6 { grid-area: image6; }
}
  
}