.flights{
    width: 100%;
    max-width: 1300px;
    margin: 2% auto;
    & .price_tag{
        border: 1px solid #ff4b64;
        color: #ff4b64;
        padding-left: 9%;
        padding-right: 9%;
        border-radius: 6%;
        font-weight: bold;
    }
    & .mainInfo {
          font-weight: bold;
          color : #615f5f;
    }

    & .title{
        font-weight: bold;
        font-size: 1.4rem;
    }
    & .buttons_choose_wrapper {
        float: right;
    }
    & .buttons_choose_flight_type {
        color: #615f5f;
        margin: 3%;
        font-weight: bold;
        font-size: 1rem;
        // line-height: 0;
       
      & ::hover{
            color: #ff4b64;
      }
    }
    & .active {
             color: #ff4b64;
         }
    & .see_all_flights{
        color: #615f5f;
        font-weight: bold;
    }     

    

}