.searchbar {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    top: -19px;


    & input {
        height: 50px;
        width: 100%;
        border: 1px solid gainsboro;
        outline-style: none;
        box-shadow: none;
        padding-left: 3%;
        font-family: 'Montserrat', sans-serif;
        -webkit-box-shadow: 2px 10px 13px 0px rgba(232, 232, 232, 0.82);
        -moz-box-shadow: 2px 10px 13px 0px rgba(232, 232, 232, 0.82);
        box-shadow: 2px 10px 13px 0px rgba(232, 232, 232, 0.82);

        &::placeholder {
            color: #bcbcbc;
            padding: 3%;
        }
    }

    & button {
        background: #ff4b64;
        height: 50px;
        width: 100%;
        max-width: 100px;
        color: white;
        border: none;
        outline-style: none;
        box-shadow: none;
        cursor: pointer;
        -webkit-box-shadow: -4px 8px 13px 0px rgba(232, 232, 232, 0.82);
        -moz-box-shadow: -4px 8px 13px 0px rgba(232, 232, 232, 0.82);
        box-shadow: -4px 8px 13px 0px rgba(232, 232, 232, 0.82);
    }

    .ant-calendar-picker {
        width: 100%;
        -webkit-box-shadow: 2px 10px 13px 0px rgba(232, 232, 232, 0.82);
        -moz-box-shadow:2px 10px 13px 0px rgba(232, 232, 232, 0.82);
        box-shadow: 2px 10px 13px 0px rgba(232, 232, 232, 0.82);
        & .ant-input {
            border-radius: 0;
            font-family: 'Montserrat', sans-serif;
            outline-style: none;
            box-shadow: none;
        }
    }
}